---
import MainLayout from "../layouts/MainLayout.astro";
import Button from '../components/Button.astro';
---
<MainLayout title="The legend of Zelda"

desription="The Legend of Zelda spillene igennem tiden"
ogtitle="Hvilke Zelda spil var de mest populære"
ogdescription="The Legend of Zelda spillene igennem tiden"

>
	<article class="my-16 grid mx-auto container gap-8 p-16 prose bg-indigo-200">

	<h1>Nintendo's The Legend Of Zelda spil igennem tiden</h1>

	<div class="flex justify-center flex-col">
		<h2 class="">The Legend of Zelda: Breath of the Wild</h2>
		<p class="text-black">Udgivet 2017</p>
		<p class="text-black" >Allerede lige efter Skyward Sword blev udgivet i 2011 begyndte Aonuma, videogame designer og director for Nintendo at udvilke ideer til det spil der endte med at blive Breath of the Wild. <br> <br> Breath of the Wild blev the mest successfulde Zelda spil, kun overgået af sin efterfølger Tears of the Kingdom, der udkom i 2023. Til forskel for sine forgængere blev dette spil udvilket med en open world hvilket gjorde op med det klassiske lineære forløb som fans havde været vant til før. Som noget helt nyt kunne man</p>
	</div>
	<img src="/botw.jpg" alt="Nintendo breath of the wild spil">

		<div class="flex justify-center flex-col">
		<h2 class="">The Legend of Zelda: Ocarina of Time</h2>
		<p class="text-black">Udgivet 1998</p>
		<p class="text-black" >Ocarina of Time blev en kæmpe succes og et af de bedst sælgende spil i Zelda-serien. Det er et af de mest elskede titler på Nintendo 64 konsollen og spillet er blevet rost som et mesterværk og betragtes som et af de mest indflydelsesrige spil nogensinde.<br> <br> Ocarina of Time introducerede 3D-grafik til Zelda-serien hvor spillerne skal skifte mellem barn- og voksenversionen af Link, ved hjælp af instrumentet ocarinaen, for at løse gåder, redde pincesse Zelda og redde verden.</p>
	
</div>

<img src="/ocarina.jpg" alt="Retro nintendo spil ocarina of time til 64 konsollen">

			<div class="flex justify-center flex-col">
		<h2 class="">The Legend of Zelda: Majoras mask</h2>
		<p class="text-black">Udgivet 2000</p>
		<p class="text-black" > På trods af at Majoras Mask ikke opnåede samme kommercielle succes som sin forgænger, Ocarina of Time, er det blevet anerkendt for sin dysterhed og originale tilgang og har opnået kultstatus blandt fans.<br> <br> Majoras Mask adskiller sig fra andre Zelda spil på flere måder blandt andet forgår det i Termina og ikke Hyrule og derudover skal Link forhindre verdens undergang inden for en tre-dages cyklus. En stor del af spillet centrerer sig omrking de mange karakteristiske masker man samler og bruger til at løse forskellige opgaver. </p>
	</div>

	<img src="/majorasmask.jpg" alt="person med majoras maske på">

			<div class="flex justify-center flex-col">
		<h2 class="">The Legend of Zelda: wind Waker</h2>
		<p class="text-black">Udgivet 2002</p>
		<p class="text-black" > Da Wind Waker først udkom var modtagelsen fra fans meget mikset da det kom direkte efter Ocarina der generelt har en meget mere seriøs stil sammenlignet med den animerede og charmerende stil i Wind Waker. Dette skuffede flere fans men spillet er i de senere år blev en favorit. <br> <br> Wind Waker er kendt for sin karakteristiske cel-shadede grafik, der giver spillet et tegneserieagtigt udseende. I Wind Waker er verden er dækket af hav, og man udforsker verden ved at sejle fra ø til ø mens man mestrer evnen til at kontrolerer vinden. </p>
	</div>

	<img src="/windwaker.jpg" alt="Amiibo figurer af zelda figurer såsom link fra wind waker">

	</article>
</MainLayout>